@media(max-width:920px){
    
    #menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 10px;
        flex-direction: column; 
        position: relative;
        padding-right: 0px;
        
    }
    
    
    #menu ul #logo #logo-image{
        
        align-self: center;
        
    }
    
    #logo{
        width: 45%;
        padding-top: 5px;
    }
    
    .oferta{
    margin-top: 10px;
}
    
}


@media(max-width:405px){
    
    #menu ul li{
    
    width: 45%;
    }
    #logo{
        width: auto;
        padding-top: 5px;
    }
    #logo-image{
        width: 90%;
    }
    
    
    
    .mapa_google{
        width: 350px;
    }
    
}

@media(max-width:370px){
    
    .mapa_google{
        width: 320px;
    }
    
}
